.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logopart--black {
    font-family: Raleway;
    color: var(--primary-color);
}

.logopart--white {
    font-family: Raleway;
    color: var(--tertiary-color);
}