.our-clients__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
}

.our-clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.our-clients__section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.our-clients__link {
    width: 210px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;

    transition-property: fill border border-radius;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);


    &:hover,
    &:focus {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);

    }
}