img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    // margin: 0 0;
    // padding: 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

address {
    font-style: normal;
    margin-top: 20px;
}