:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --tertiary-color: #FFFFFF;
    --tertiary-color-alpha: #FFFFFF, 0.6;
    --background-color-primary: #E5E5E5;
    --background-color-secondary: #F5F4FA;
    --background-color-footer: #2F303A;
    --accent-color: #2196F3;
    --button-accent-color: #188CE8;
    --box-shadow-color: rgba(0, 0, 0, 0.15);
    --color-grey: #ECECEC;
    --social-links-grey: #AFB1B8;
    --cubic-animation: cubic-bezier(0.4, 0, 0.2, 1);
    --backdrop-color: rgba(0, 0, 0, 0.2)
}